/* nav-header{
    text-align: center;
    padding: 10px;
    float: right;
    font-weight: bolder;
    color: black;
} */

h3{
    color:blue;
    text-align: center;
}

p{
    text-align: center;
}
