/* nav-header{
    text-align: center;
    padding: 10px;
    float: right;
    font-weight: bolder;
    color: black;
} */

h3{
    font-weight: bold;
    text-align: left;
    margin: 10px;
}

h2{
  margin: 10px;
}

p{
    margin: 25px;
    text-align: center;
    font-size: 22px;
}

.navbar{
    border-bottom: solid;
    background-color:#000;
}

.container{
    margin-top: 15px;
    text-align: center;
    border-bottom: solid;
}

navbar-brand{
    margin: 10px;
    float: left;
}

a{
    color:#fff;
}

.header-image{
    width: 100%;
    height: 450px;
}

.url{
  color: #2a77c7;
}

/* card grid styling (borrowed from https://bryanlrobinson.com/blog/2017/07/26/howto-css-grid-layout-to-make-a-simple-fluid-card-grid/)*/
.card-container {
    display: grid;
    padding: 1rem;
    grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
    grid-gap: 1rem;
}


/* Simple Card styles for prettying */

html {
    font-size: 16px;
    font-family: 'Open Sans', 'Helvetica Neue', 'Arial', sans-serif;
}

body {
    background-color: #efefef;
}
* {
    box-sizing: border-box;
}
.card {
    box-shadow: 0px 1px 5px #555;
    background-color: white;
}
.card__title {
    font-size: 2rem;
    padding: .5rem;
}
.card__description {
    padding: .5rem;
    line-height: 1.6em;
}
.button {
    display: block;
    background-color: tomato;
    padding: 10px 15px;
    color: white;
    text-decoration: none;
    text-align: center;
    transition: .3s ease-out;
    &:hover {
        background-color: darken(tomato, 10%);
    }
}
img {
    max-height: 100%;
    max-width: 100%;
}
