/* nav-header{
    text-align: center;
    padding: 10px;
    float: right;
    font-weight: bolder;
    color: black;
} */

h3{
    font-weight: bold;
    text-align: center;
}

p{
    text-align: center;
}

navbar-brand{
    float:left;
    margin-left: 10px;
}
